/* 
    Document   : ios-mobile.less
    Author     : David
    Description:
        Define styles for the ios mobile page here.
*/
/* =Mobile
-------------------------------------------------------------- */
/* =Mobile Mixins
-------------------------------------------------------------- */
/* =Mobile (portrait and landscape) 
-------------------------------------------------------------- */
div#container header.primary h1 a {
  background: url(/assets/images/global/mobile/fat-or-fiction-logo.jpg) no-repeat;
  display: block;
  width: 234px;
  height: 233px;
}
