/* 
    Document   : 404.less
    Author     : David
    Description:
        Define styles for the 404 page here.
*/
/* =404
-------------------------------------------------------------- */
/* =404 Mixins
-------------------------------------------------------------- */
