/* 
    Document   : unsupported.less
    Author     : David
    Description:
        Define styles for the unsupported page here.
*/
/* =Unsupported
-------------------------------------------------------------- */
/* =Unsupported Mixins
-------------------------------------------------------------- */
/* =Unsupported Error message
-------------------------------------------------------------- */
